---

---



<div class="about_me" id="about_me">
    <div class="title">Acerca de mí</div>
    <div class="description">
        
    </div>
</div>



<style>
    .about_me{
        margin: 0 auto;
        width: 400px;
        color: white;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        width: 400px;
    }
</style>