---
import { useTranslations } from "@/i18n/utils";

const {currentLocale} = Astro;
const t = useTranslations(currentLocale as any);

---



<div class="about_me" id="about_me">
    <div class="title">Acerca de mí</div>
    <div class="description">
        <p>{t("aboutMe")}</p>
        <p>{t("contact")} <span style="color:#04D418;"><a class="linkedin" href="/contact" >{t("contactUrl")}</a></span>?</p>
    </div>
</div>



<style>
    .about_me{
        margin: 0 auto;
        width: 400px;
        color: black;
        border: 1px solid white;
        border-radius: 5px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        border-bottom: 1px solid white;
        background-color: white;
    }
    .description{
        text-align: center;
        color: white;
    }
    .linkedin{
        text-decoration: none;
        color:inherit;
    }

    @media (max-width:768px) {
        .about_me{
            width: 350px;
        }
        .title{
            width: 350px;
        }
    }

</style>