---
import { getLangFromUrl } from "@/i18n/utils";
import Navbar from "../components/ReactComponents/Navbar/Navbar";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);

---

<header class="header_container">
    <h1 class="title_name"><a href="/">Juan Pablo Gonzalez</a></h1>
    <Navbar lang={lang} client:load/>
</header>


<style>
    .header_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding-inline: 1.5rem;
    }
    .title_name{
        font-size: 28px;
        margin-block-start: .5rem;
    }
    .title_name a{
        text-decoration:none;
        color:inherit;
    }
</style>